*.cmd  text eol=crlf
*.sh   text eol=lf
crescue text eol=lf
*.script text eol=crlf
*.ps1  text eol=crlf
# UTF-16, exactly as the PortableApps.com Platform writes it
portableapps/settings/*.ini binary
